/* Medias */
$phone: 425px;
$tablet: 768px;
$desktop: 1024px;

@mixin mobile($display: block) {
  display: none;
  @media screen and (max-width: $tablet) {
    display: $display;
  }
}

@mixin desktop($display: block) {
  display: none;
  @media screen and (min-width: $desktop) {
    display: $display;
  }
}

/* Colors */
$primary: #600fbd;
$secondary: #c0a9ff;
$white: rgb(255, 255, 255);
$light-gray: rgb(237, 237, 237);

/* Fonts */
$title: 'Ubuntu', sans-serif;
$text: 'Montserrat', sans-serif;

/* Mixins */
@mixin type($weight: regular, $font: $text) {
  font-weight: map-get(
    (
      regular: 400,
      bold: 500,
      extrabold: 700,
    ), $weight
  );
  font-family: $font;
}
@mixin border-text($color: #fff) {
  text-shadow: 2px 0 $color, -2px 0 $color, 0 2px $color, 0 -2px $color,
    1px 1px $color, -1px -1px $color, 1px -1px $color, -1px 1px $color;
}
@mixin transition($velocity: 'medium', $item: all, $animation: ease-in-out) {
  transition: map-get(('fast': $item $animation 0.1s,
        'medium': $item $animation 0.25s,
        'slow': $item $animation 0.5s,
      ), $velocity);
}

/* CSS */
body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @include type(regular, $text);
}

h1, h2, h3, h4, h5, h6 {
  @include type(bold, $title)
}

p {
  @include type(regular, $text)
}


.btn {
  padding: 15px 30px;
  margin: 5px;
  background-color: $primary;
  color: $white;
  font-size: 14pt;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: none;
  text-decoration: none;
  @include type(bold, $title);
  @include transition();
  &:hover {
    background-color: $secondary;
  }
}

/* Loading animation */

@keyframes loading-bar {
  0%  {margin-left: 0;}
  50% {margin-left: 70%;}
  100% {margin-left: 0%;}
}

@mixin loading-animation() {
  animation-name: loading-bar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}